@import "./src/assets/fonts/stylesheet.css";

@tailwind base;

@layer base {
  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }
}

@tailwind components;

@tailwind utilities;

@layer components {
  .primary-button {
    @apply hover:bg-red-800 focus:shadow-red-900 focus:outline-none active:bg-red-900 mx-auto h-10 w-28 rounded-lg bg-red-900 font-button my-4 text-white;
  }

  .secondary-button {
    @apply mx-auto h-10 w-28 rounded-lg bg-yellow-600 font-button my-4 hover:bg-yellow-500 focus:shadow-yellow-600 focus:outline-none active:bg-yellow-500;
  }

  .cards-flex {
    @apply flex flex-col items-center justify-center gap-4 md:flex-row md:gap-8;
  }

  .cards-grid {
    @apply grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 place-items-center;
  }

  .section-padding {
    @apply px-8 py-12 md:p-16 lg:p-28;
  }

  .section-header {
    @apply mb-10 font-sectionTitle text-center md:mb-12 font-semibold lg:mb-24;
  }

  .article-container {
    @apply p-6;
  }
}

@layer utilities {
  .debug {
    @apply [&>*]:border-[1px] [&>*]:border-red-500;
  }

  .hide {
    @apply max-h-0 opacity-0;
  }

  .parallax {
    background-image: url("/src/assets/images/rite-sutra.webp");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
