@font-face {
  font-family: "Cormorant Garamond";
  src:
    local("Cormorant Garamond Medium"),
    local("CormorantGaramond-Medium"),
    url("CormorantGaramond-Medium.woff2") format("woff2"),
    url("CormorantGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda';
    src: url('BodoniModa-Regular.woff2') format('woff2'),
        url('BodoniModa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("OpenSans-Regular.woff2") format("woff2"),
    url("OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trirong";
  src: url("Trirong-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Tibetan";
  src:
  url("NotoSerifTibetan-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("Roboto-Bold.woff2") format("woff2"),
    url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}