---
import PageLayout from "../layouts/PageLayout.astro";
import NavigationSection from "../layouts/NavigationSection.astro";
---

<PageLayout title="About Us">
  <NavigationSection />
  <p>
    Main Jonang monastery based at Shimla in northern India is established by
    Choeling). During His Holiness the Dalai lama’s visit to the newly founded
    monastery on the 7th of June in 1990, ( then called Sangye choeling
    monastery) was given to His Holiness the Dalai lama. Both the religious
    activities and monastic administration were taken care of by H.H. Dalai
    lama’s office and Namgyal monastery after the passing away of lama Jinpa
    Gyatso. On the seventh Tibetan Rabshong, Earth tiger year or during 1997,
    the 14th His Holiness the Dalai lama restored the great teaching of Jonang
    in the holy land of India. On top of that, in order to sustain and expand
    the Shimal based Takten Tamchoeling’s establishment in the year 1615 by
    vulnerable Taranath, has given all the reliance and reliant of this
    monastery to the Taranath’s reincarnated vulnerable Khalkha and had
    appointed him and enthroned him as the master of Jonang’s teaching.
  </p>
</PageLayout>
