---
import { Image } from "astro:assets";
import PageLayout from "../../layouts/PageLayout.astro";
import type { Teacher } from "../../../payload-types";

const res = await fetch(`${import.meta.env.CMS_API_URL}/teachers`);
const data = await res.json();
---

<PageLayout title="Jonang Teachers">
  <div class="section-padding">
    {
      data.docs
        .sort(
          (a: Teacher, b: Teacher) => a.orderOfAppearance - b.orderOfAppearance,
        )
        .map((teacher: Teacher) => (
          <div>
            {typeof teacher.portrait !== "string" ? (
              <Image
                src={teacher.portrait!.url!}
                alt={teacher.portrait!.alt!}
                width={teacher.portrait!.width!}
                height={teacher.portrait!.height!}
              />
            ) : (
              <div>Could not fetch image</div>
            )}
          </div>
        ))
    }
  </div>
</PageLayout>
