---
import { Image } from "astro:assets";

import kalachakraIcon from "../assets/icons/kalachakra-icon.webp";
import kalachakraMantra from "../assets/icons/kalachakra-mantra.svg";
import NewsLetter from "./NewsLetter.astro";
---

<NewsLetter />
<footer
  class="flex flex-col items-center gap-10 bg-gray-200 p-6 px-4 pb-4 xl:pt-10"
>
  <div class="flex flex-col gap-10 xl:flex-row">
    <div class="flex flex-col items-center gap-2">
      <div class="flex flex-row gap-4">
        <Image class="mx-auto" src={kalachakraIcon} alt="" width="125" />
        <Image class="mx-auto" src={kalachakraMantra} alt="" height="150" />
      </div>
      <div class="mt-2 max-w-[345px] text-center text-xs italic">
        <div class="text-sx mb-2 font-bold not-italic">
          OṂ HA KṢA MA LA VA RA YA SVĀHĀ
        </div>
         May the resonant power of the Kalachakra mantra radiate wisdom,
        compassion, and enlightenment, fostering Bodhicitta to bring liberation
        to all beings.
      </div>
    </div>

    <div class="flex flex-col items-center gap-6 text-sm md:flex-row md:gap-16">
      <address class="not-italic">
        <div class="leading-tight">
          Jonang Takten Phuntsok Choeling<br /> Tibetan Buddhist Monastery,<br
          />
           Sanjauli 171006, Shimla,<br />
           Himachal Pradesh, INDIA
        </div>
        <div class="mt-4 leading-tight">
          EMAIL: office@jonangmonastery.com<br /> PHONE: +91 177 2841410
        </div>
      </address>
      <button class="text-bold h-10 w-32 rounded bg-yellow-500">Donate</button>
    </div>
  </div>

  <div class="text-center text-sm xl:mt-6">
    <div>
      <a href="#">Sitemap</a>
      <span>|</span>
      <a href="#">Cookie & Privacy Policy</a>
    </div>
    <div class="mt-4 text-xs">&copy 2023 Jonang Monastery | made by norbu</div>
  </div>
</footer>
