---
import { Image } from "astro:assets";

import logo from "../assets/icons/logo.webp";
---

<footer
  class="section-padding flex flex-col items-center gap-14 bg-gray-200 pb-4"
>
  <div class="flex flex-col items-center gap-2">
    <Image class="mx-auto" src={logo} alt="" width="150" />
    <div class="font-tibetan" lang="bo">ༀ་ཨཱཿཧཱུཾ་ཧོཿཧཾཀམལཝརཡཾ་ཧཱུཾ་ཕཊ།</div>
    <div class="text-center text-xs">
      May the sound of the Kalachakra mantra bring wisdom, compassion, and
      enlightenment to all beings.
    </div>
  </div>
  <div class="align-center flex flex-col text-sm md:flex-row md:gap-16">
    <div class="">
      <div class="leading-tight">
        Jonang Takten Phuntsok Choeling<br />
         Tibetan Buddhist Monastery,<br />
         Sanjauli 171006, Shimla,<br />
         Himachal Pradesh, INDIA
      </div>
      <div class="mt-2 leading-tight">
        EMAIL: office@jonangmonastery.com<br />
         PHONE: +91 177 2841410
      </div>
    </div>
    <button
      class="text-bold mx-auto mt-8 h-12 w-32 rounded bg-yellow-500 text-lg"
      >Donate</button
    >
  </div>
  <div class="text-center text-sm">
    <a href="#">Sitemap</a>
    <span>|</span>
    <a href="#">Cookie & Privacy Policy</a>
  </div>
  <div class="mt-[-2rem] text-xs md:text-sm">
    &copy 2023 Jonang Monastery | made by norbu
  </div>
</footer>
