---

---

<blockquote
  class="section-padding mx-auto max-w-xl px-8 font-garamond text-xl italic"
>
  <p>
    Nothing whatsoever to be removed, Not the slightest thing to be added. Truly
    look at truth, and truth is seen.
  </p>
  <p class="mt-4">
    When seen, it is complete liberation. The element is empty of adventitious
    stains Which are characterized by their total emptiness, But it is not empty
    of supreme qualities Which are characterized by their inseparability.
  </p>
  <footer class="mt-8 block text-right"><cite>The Uttaratantra</cite></footer>
</blockquote>
