---
import { Image } from "astro:assets";

import logo from "../../src/assets/icons/logo.webp";
---

<div class="my-12 px-4 text-center text-red-900">
  <h1 class="my-12 font-siteTitle text-4xl md:my-16 md:text-4xl">
    Jonang Takten Phuntsok Choeling Monastery
  </h1>
  <Image src={logo} alt="" width="200" class="mx-auto" />
  <div class="mt-4 italic md:text-lg">
    The Land of Joy, Jonang Monastery, where the teachings flourish.
  </div>
</div>
