---
import PageLayout from "../../layouts/PageLayout.astro";

import "../../base.css";
---

<PageLayout title={"Donate"}>
  <div>
    <h2>Donate to us</h2>
    <p>
      We greatly appreciate if you would like to donate to us. We are always in
      need for various things our monks could need. To send us items, please
      send a package to: <br />
      Norov Erdenechuluun, <br />
      Post Office 44, PO Box 321, <br />
      Sukhbaatar District, Ulaanbaatar <br />
      14250, MONGOLIA
    </p>
  </div>
</PageLayout>
