---
import Title from "../components/Title.astro";
---

<section class="section-padding bg-gray-100">
  <Title title="Activities" color="darkgrey" />
  <p class="mx-auto text-center lg:max-w-3xl">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut iure
    voluptatibus dicta sed tempore cumque omnis consequatur cupiditate culpa?
    Sed doloribus eum dolorum placeat et quos quod non commodi aliquam odit!
    Rerum non, voluptatibus quod consectetur debitis maiores perspiciatis
    molestias!
  </p>
  <div
    role="button"
    class="mx-auto mt-10 max-w-md rounded border-2 shadow-lg shadow-red-900/50 transition-shadow ease-in hover:cursor-pointer hover:shadow-red-900/80"
  >
    <ul class="py-4 text-center font-quicksand text-lg font-semibold">
      <li>Puja & Sadhana</li>
      <li class="mt-2">Annual Religious Events</li>
      <li class="mt-2">Sutra Study</li>
      <li class="mt-2">Kalachakra Retreat</li>
    </ul>
  </div>
</section>
