---
import SectionTitle from "../components/SectionTitle.astro";
import { Image } from "astro:assets";

import lecture from "../../src/assets/images/lecture.jpg";

const res = await fetch(`${import.meta.env.CMS_API_URL}/globals/activities`);
const data = await res.json();
---

<section class="flex-col bg-gray-200 md:flex md:flex-row-reverse">
  <div class="md:md:w-1/2">
    <Image
      src={lecture}
      alt="Our Jonang Gyaltseb holding a lecture for the students"
      class="h-full w-full object-cover"
    />
  </div>
  <div class="section-padding text-justify font-body md:w-1/2">
    <SectionTitle title="Activities" color="darkgrey" />
    <p
      class="mx-auto text-center lg:max-w-3xl"
      set:html={data.descriptionHtml}
    />
  </div>
</section>
