---
import Title from "../components/Title.astro";
import DonateCard from "../components/DonateCard.astro";

import donations from "../data/donations.json";
---

<section class="section-padding bg-gray-100">
  <Title title="Support Us" color="red" />
  <div class="cards-grid">
    {
      donations.map((item) => (
        <DonateCard
          name={item.name}
          raised={item.raised}
          total={item.total}
          donations={item.donations}
        />
      ))
    }
  </div>
</section>
