<div
  class="flex h-screen bg-[url('/src/assets/images/vajra-bell.webp')] bg-cover bg-center md:bg-[url('/src/assets/images/yard-ritual.webp')]"
>
  <div
    lang="bo"
    class="height-4 absolute bottom-44 right-0 w-[295px] p-10 text-right font-tibetan text-4xl leading-relaxed text-white md:w-full md:text-center md:text-5xl"
    aria-label="Name of the monastery in Tibetan"
  >
    ༄༅།། འཕགས་ཡུལ་ཇོ་ནང་མ་དགོན་རྟག་བརྟན་ཕུན་ཚོགས་ཆོས་གླིང་།
  </div>
  <button
    id="continue-button"
    class="absolute bottom-28 right-10 h-10 w-28 rounded-md border-[1px] border-white bg-red-900 text-lg text-white md:right-[20%] lg:right-1/2 lg:translate-x-[50%]"
    aria-label="Explore">Explore →</button
  >
</div>
