---
import { Image } from "astro:assets";
import downArrow from "/src/assets/icons/down-arrow.svg";

const res = await fetch(`${import.meta.env.CMS_API_URL}/globals/pageTitle`);
const title = await res.json();
---

<div
  class="flex h-screen flex-col justify-end bg-[url('/src/assets/images/vajra-bell.webp')] bg-cover bg-center md:bg-[url('/src/assets/images/yard-ritual.webp')]"
>
  <div
    lang="bo"
    class="height-4 absolute bottom-44 right-0 w-[295px] p-10 text-right font-tibetan text-4xl leading-relaxed text-white md:w-full md:text-center md:text-5xl"
    aria-label="Name of the monastery in Tibetan"
    set:html={title.title}
  />
  <button
    id="continue-button"
    class="mb-20 flex h-12 justify-center text-white"
    aria-label="Continue"
    ><Image src={downArrow} alt="" width="50" class="animate-bounce" /></button
  >
</div>

<script>
  const rect = document.querySelector("#welcome")!.getBoundingClientRect();
  const posY = rect.top + window.scrollY;
  document.querySelector("#continue-button")!.addEventListener("click", () =>
    window.scrollTo({
      top: posY,
      behavior: "smooth",
    }),
  );
</script>
