---
import Title from "../components/Title.astro";
import BioCard from "../components/BioCard.astro";

import teachers from "../data/teachers.json";
---

<section class="section-padding bg-red-900 text-white">
  <Title title="Jonang Teachers" color="white" />
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    {
      teachers.map((item) => (
        <BioCard
          imgPath={item.imgPath}
          name={item.name}
          role={item.role}
          bio={item.bio}
        />
      ))
    }
  </div>
</section>
