---
import Title from "../components/Title.astro";
---

<section class="">
  <div class="parallax"></div>
  <div class="section-padding bg-yellow-600 text-white" id="welcome">
    <Title title="Welcome" color="red" />
    <p class="mx-auto text-center font-garamond text-xl lg:max-w-3xl">
      We are a Buddhist monastery situated in the serene landscapes of Shimla,
      northern India, dedicated to preserving and propagating the ancient Jonang
      tradition. Rooted in profound teachings, our monastery, named Main Jonang
      Takten Phentsok Choeling, has a rich history marked by the guidance of
      revered figures such as Lama Jinpa Gyatso and successive abbots like
      Choeji Nangwa Rinpoche and Geshe Kunga Rinchen. Embracing a comprehensive
      curriculum, we offer studies in sutras and mantras, Tibetan calligraphy,
      English, Hindi, mathematics, and physics. Our commitment extends beyond
      academic pursuits, fostering both spiritual and intellectual growth for
      our diverse student community. Join us on a transformative journey, where
      tradition meets modern education in the heart of the Himalayas.
    </p>
    <button
      class="mx-auto mt-14 block h-12 w-44 rounded bg-red-900 font-opensans text-white"
      >More About Us</button
    >
  </div>
</section>
