---
import SectionTitle from "../components/SectionTitle.astro";

const res = await fetch(`${import.meta.env.CMS_API_URL}/globals/introText`);
const data = await res.json();
---

<section>
  <div class="parallax"></div>
  <div
    class="section-padding bg-yellow-600 text-center text-white"
    id="welcome"
  >
    <SectionTitle title="Welcome" color="red" />
    <p
      class="mx-auto max-w-sm text-justify font-garamond text-xl md:max-w-lg lg:max-w-3xl"
      set:html={data.body}
    />
    <button class="primary-button mt-12 h-12 w-40"
      ><a href={data.buttonLink.slug}>More About Us</a></button
    >
  </div>
</section>
